html {
  font-size: 10px;
  width: 100%;
}

body {
  color: #000000;
  font-family: "VT323", monospace;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  place-items: center;
  text-align: center;
}

.icon {
  margin: 5px;
  width: 32px;
  height: 32px;
}

.image {
  width: clamp(200px, 90%, 480px);
  height: auto;
  margin: 10px;
}

.text {
  margin: 10px;
}
